<footer class="footer bg-white">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
    <a class="social github" target="blank" href="https://github.com/shenchingtou" title="Github" data-hover="GitHub">GitHub</a>
    <a class="social twitter" target="blank" href="http://twitter.com/shenchingtou" title="Twitter" data-hover="Twitter">Twitter</a>
     <a class="social rss" target="blank" href="https://polyphony.podbean.com/"title="Pride Polyphony Podcast" data-hover="RSS">Podcast Channel</a>
	</div>
		</div>
	</div>
</footer>


<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="/search/js/cb-search.js"></script>
