<div class="navbar-container">
      <a href="/" title="{{  site.title }}" class="navbar-logo"> <img src="/style/images/logo.png" alt="{{ site.title }}"> </a>
        <div class="navbar-menu">
           {% for link in site.links %}             
            <a href="{{ link.url }}"  title="访问 {{  link.name }}" data-hover="{{link.name}}">{{ link.name }}</a>
                {% endfor %}
          </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form method="post" action="/404.html" role="search">
                <span class="search-box">
         <input type="text" class="input" id="cb-search-content" required="true" placeholder="Type your search" maxlength="30" autocomplete="on">
                </span>
            </form>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
               {% for link in site.links %}           
                <li><a href="{{ link.url }}" title="{{  link.name }}" data-hover="{{link.name}}">{{ link.name }}</a></li>
                 {% endfor %}
            </ul>
        </div>
    </div>