{% assign is_post = page.date %}
<!DOCTYPE>
<html lang="en" data-scribe-reduced-action-queue="true">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
<body class="" gtools_scp_screen_capture_injected="true">
<header id="header" class="header bg-white">
  {% include nav.html %}
</header>
<div class="post-header-thumb bg-white}">
	<div class="post-header-thumb">
		<div class="post-header-thumb-container">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		  <div class="post-data">  
	       <time datetime="{{ page.date | date: '%F'}}" itemprop="datePublished">Published：{{ page.date | date: "%F"}}</time>
         <a href="/tags#{{ page.category }}" title="{{ page.category }}" data-hover="category: {{ page.category }}">Category: {{ page.category }}</a>
			</div>
      <div class="post-tags">
      {% unless page.tags == empty %}
        {% assign tags_list = page.tags %}
          {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
              <a href="/tags#{{ tag }}" title="{{ tag }}" data-hover="{{ tag }}">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %}{% endunless %}
</a>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag[0] }}" title="{{ tag[0] }}" data-hover="{{tag[0]}}">
            {{ tag[0] }} <span>({{ tag[1].size }})</span>
            {% unless forloop.last %}{% endunless %}
          </a>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    {% endunless %} 
	</div>
</div>
</div></div>
<article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
{{ content }}
	</div>
</article>

{% include foot.html %}
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script >lang=hljs.initHighlightingOnLoad();</script>   
 </body>
</html>