{% assign is_post = page.date %}
<!DOCTYPE>
<html lang="en" data-scribe-reduced-action-queue="true">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
<body class="" gtools_scp_screen_capture_injected="true">
<header id="header" class="header bg-white">
  {% include nav.html %}
</header>
<div class="post-header-thumb bg-white}">
	<div class="post-header-thumb-op"></div>
	<div class="post-header-thumb">
		<div class="post-header-thumb-container">
    <h1 class="post-title" itemprop="name headline">
	{{ page.title }}</h1>
		 <div class="post-data">  
	 <time datetime="{{ page.date | date: '%F %H:%M'}}" itemprop="datePublished">Published：{{ page.date | date: "%F %H:%M:%S"}}</time>
     <a href="/tags#{{ page.category }}" title="访问 {{ page.category }}" data-hover="category: {{ page.category }}">Category: {{ page.category }}</a>
			</div>
            <div class="post-tags">
                {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag }}" title="访问{{ tag }}" data-hover="{{ tag }}">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %}{% endunless %}
</a>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag[0] }}" title="访问 {{ tag[0] }}" data-hover="{{tag[0]}}">
            {{ tag[0] }} <span>({{ tag[1].size }})</span>
            {% unless forloop.last %}{% endunless %}
          </a>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    {% endunless %} 
	</div>
</div>
</div></div>
<article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
	<div class="post-header">
		<h1 class="post-title" itemprop="name headline">
			{{ page.title }}</h1>
		<div class="post-data">
				<time datetime="{{ page.date | date: '%F %H:%M:%S'}}" itemprop="datePublished">{{ page.date | date: "%F %H:%M:%S"}}</time>
		</div>
	</div>
	<div id="post-content" class="post-content" itemprop="articleBody">
         <p class="post-tags">
    {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag }}" title="访问{{ tag }}" data-hover="{{ tag }}">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %}{% endunless %}</a>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag[0] }}" title="访问{{ tag[0] }}"  data-hover="{{ tag[0] }}">
            {{ tag[0] }} <span>({{ tag[1].size }})</span>
            {% unless forloop.last %}{% endunless %}
          </a>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    {% endunless %} 
</p>
{{ content }}
	</div>
</article>

<!-- <div class="related-post-lists">
	<div class="post-lists">
		<div class="post-lists-body">
					<div class="post-list-item">
				<div class="post-list-item-container">
					<div class="item-label">
						<div class="item-title"><a href="induction.html">归纳的随想</a></div>
						<div class="item-meta clearfix">
														<div class="item-meta-ico bg-ico-image" style="background: url('../usr/themes/pinghsu/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
	                        							<div class="item-meta-cat"><a href="../category/thoughts/index.html">Thoughts</a></div>
						</div>
					</div>
				</div>
			</div>
				</div>
	</div>
</div> -->
{% include foot.html %}
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script >lang=hljs.initHighlightingOnLoad();</script>   
 </body>
</html>